<a href="/">
  <img id="logo" src="~/images/logo.png" alt="logo for application, click on routes to home page">
</a>

<div id="navbar">
  <a class="navButton m-2">@Html.ActionLink("Clients", "Index", "Clients")</a>
  <a class="navButton m-2">@Html.ActionLink("Stylists", "Index", "Stylists")</a>
</div>